<div class="partners">
  <div
    class="partners__wrapper flex flex-wrap lg:justify-between justify-center gap-5 lg:gap-0 items-center bg-black p-5 lg:py-8 lg:px-32"
  >
    <div class="partner">
      <img
        src="assets/images/logos/versace.png"
        alt="Versace logo"
        class="w-28 h-auto"
      />
    </div>
    <div class="partner">
      <img
        src="assets/images/logos/zara.png"
        alt="Zara logo"
        class="w-20 h-auto"
      />
    </div>
    <div class="partner">
      <img
        src="assets/images/logos/gucci.png"
        alt="Gucci logo"
        class="w-28 h-auto"
      />
    </div>
    <div class="partner">
      <img
        src="assets/images/logos/prada.png"
        alt="Prada logo"
        class="w-28 h-auto"
      />
    </div>
    <div class="partner">
      <img
        src="assets/images/logos/calvinklein.png"
        alt="Calvin Klein logo"
        class="w-28 h-auto"
      />
    </div>
  </div>
</div>
