<div class="product-card">
  <a
    [routerLink]="['/product', productData.id]"
    routerLinkActive="router-link-active"
    ><div
      class="product-card__image bg-[#F0EEED] py-8 flex items-center justify-center rounded-3xl"
    >
      <img src="{{ productData.image }}" [alt]="" class="h-64" /></div
  ></a>
  <div class="product-card__content pt-3">
    <div class="product-card__title font-bold capitalize">
      <a
        [routerLink]="['/product', productData.id]"
        routerLinkActive="router-link-active"
        >{{ productData.title }}</a
      >
    </div>
    <div class="product-card__price pt-1 text-2xl font-semibold">
      ${{ productData.price }}
    </div>
  </div>
</div>
